# --- Podstawowe obliczenia i dane ---
numpy
nibabel
h5py
PyYAML

# --- Uczenie Maszynowe i Sieci Neuronowe ---
torch
scikit-learn

# --- Wizualizacja ---
matplotlib

# --- Narzędzia deweloperskie (Czysty kod) ---
black
ruff